.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
    box-shadow: 0px 0px 15px #4b538b;
    font-family: "Orbitron", sans-serif;
  }
  
  .logo1 img {
    width: 150px; /* Increase width */
    height: auto; /* Maintain aspect ratio */
    
}


  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
    color: #cacbcf;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #cacbcf;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links a:hover {
    color: #00e1ff;
    text-shadow: 0px 0px 10px #00e1ff;
  }
  